<main class="container">
  <div class="header">
    <h1>Quotes</h1>
    <%= link_to "New quote", 
                  new_quote_path, 
                  class: "btn btn--primary",
                  data: { turbo_frame: dom_id(Quote.new) } %>
  </div>

  <%= turbo_frame_tag Quote.new %>
  <%= turbo_frame_tag "quotes" do %>
    <%= render @quotes %>
  <% end %>
</main>

<%# When clicking on the "New quote" link, the click will be intercepted by Turbo.
Turbo knows it has to interact with the frame of id new_quote thanks to the attribute data-turbo-frame on the "New quote" link.
The request is sent in AJAX, and our server will render the Quotes#new page with a frame with id new_quote.
When the browser receives the HTML, Turbo will extract the frame with the id of new_quote
 from the Quotes#new page and replace the empty frame with the same id on the Quotes#index page! %>